<div class="main_content page_wrapper">

<h1>GROUP CREATED</h1>
<p>
	<br><br>
	<%= @group.name %>
	
</p>
	<button class="button"><%= link_to "DASHBOARD" %>  </button>

	<button class="button"> <%= link_to "+Add User", newuser_path %></button>
</div>