<div id="page_wrapper">

<% @post.each do |post| %>
<div class="post_wrapper">
	<h2 class="title">
		<%= link_to post.title, post%>
	</h2>
	<i>
		<%= post.created_at.strftime("%B %d, %Y") %>
	</i>
</div>

<% end %>

</div>